name: Test

on: 
  push:
  pull_request:

permissions: {}

jobs:
  version-matrix:
    strategy:
      fail-fast: false
      matrix:
        go-version: [oldstable, stable]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    
    permissions:
      contents: read

    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ matrix.go-version }}

    - name: Validate
      if: matrix.platform == 'ubuntu-latest'
      run: make validate

    - name: Test
      run: make test

    - name: Check index files
      shell: bash
      run: |
        ls data/pack-*.pack | \
        grep -v 407497645643e18a7ba56c6132603f167fe9c51c00361ee0c81d74a8f55d0ee2 | \
        grep -v ee4fef0ef8be5053ebae4ce75acf062ddf3031fb | \
        xargs -I{} git verify-pack -v {}

    - name: Re-generate reverse index files
      shell: bash
      run: |
        ls data/pack-*.pack | \
        grep -v 407497645643e18a7ba56c6132603f167fe9c51c00361ee0c81d74a8f55d0ee2 | \
        grep -v ee4fef0ef8be5053ebae4ce75acf062ddf3031fb | \
        xargs -I{} git index-pack --rev-index -v {}
        git status
        git diff-index --quiet HEAD --
